<nav>
    <div class="nav-wrapper">
		<a href="#" class="brand-logo" style="margin-left: 150px">Logo</a>
		<ul class="right hide-on-med-and-down" style="margin-right: 150px">
		    <li><a href="sass.html">Hi {{name}}</a></li>
		    <li><a href="badges.html">|</a></li>
		    <li><button class="waves-effect waves-light btn" ng-click="logout()">Logout</button></li>
      	</ul>
    </div>
</nav>

<div class="container-fluid" style="height: 100%; width: 100%" ng-init="initialize()">
	<div class="row" style="height: 500px; width: 100%">
		<div class="col s3" style="padding: 10px">
			<div class="card" style="min-height: 100px; width: 100%; padding: 5px">
		     	<div class="card-title">
	         		<b>Approved leaves</b>
	         	</div>
	         	<div class="card-content" style="padding: 5px">
	            	<div class="card horizontal hoverable" ng-repeat="leave in approvedLeaves">
				        <div class="card-content">
				          <div class="row">
				          	<div class="col s4">
				          		<label>start date:</label><br>
				          		<label><b>{{leave.start}}</b></label>
				          	</div>
				          	<div class="col s4">
				          		<label>end date:</label><br>
				          		<label><b>{{leave.end}}</b></label>
				          	</div>
				          	<div class="col s4">
				          		<label>applied by:</label><br>
				          		<label><b>{{leave.employeeName}}</b></label>
				          	</div>	
				          </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="col s6" style="padding: 10px">
			<div class="card" style="min-height: 150px; width: 100%; padding: 5px">
		     	<div class="card-title">
	         		<b>Pending Approval</b>
	         	</div>
	         	<div class="card-content" style="padding: 5px">
	            	<div class="card horizontal hoverable" ng-repeat="leave in pendingLeaves">
				        <div class="card-content">
				          <div class="row">
				          	<div class="col s2">
				          		<label>start date:</label><br>
				          		<label><b>{{leave.start}}</b></label>
				          	</div>
				          	<div class="col s2">
				          		<label>end date:</label><br>
				          		<label><b>{{leave.end}}</b></label>
				          	</div>
				          	<div class="col s2">
				          		<label>applied by:</label><br>
				          		<label><b>{{leave.employeeName}}</b></label>
				          	</div>
				          	<div class="col s3" style="margin: 0px; padding: 0px">
				          		<button class="waves-effect waves-light btn" style="padding: 0px; width: 120px" ng-click="approveLeave()">Approve</button>
				          	</div>
				          
				          	<div class="col s3" style="margin: 0px; padding: 0px">
				          		<button class="waves-effect waves-light btn" ng-click="denyLeave()">Decline</button>
				          	</div>	
				          </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="col s3" style="padding: 10px">
			<div class="card" style="padding: 5px">
				<div class="card-title">
	         		<b>Add Holiday</b>
	         	</div>
				<div class="card-content">
					<label for="End Date">Date</label>
					<input type="date" class="datepicker"/>
					<div class="input-field">
		              <input id="Occassion" type="text" class="validate">
		              <label for="Occassion">Occassion</label>
		            </div>  
		              <button class="waves-effect waves-light btn">Submit</button>	
				</div>
			</div>
		</div>	
	</div>
</div>
	
	